@charset "utf-8";

@import url('normalize.css');
@import url('reset.css');
@import url('https://fonts.googleapis.com/css2?family=BIZ+UDGothic&family=Roboto:ital,wght@0,100..900;1,100..900&family=Tangerine:wght@400;700&display=swap');
* {box-sizing: border-box;}

/* Variants */
:root {
  --default-FZ: 16px;
  --default-LH: 140%;
  --small-LH: 120%;

  --black: #121212;
  --dark--gray: #424245;
  --gray: #808080;
  --light-gray: #D2D2D7;
  --extra--light: #F5F5F7;
  --white: #FFFFFF;
  --black--brightness-90: rgba(18, 18, 18, 0.9);
  --blur: #D2D2D7;
  --error: #F55F56;
  --succeess: #32936F;
}

/* Layout */
body {display: flex; flex-direction: column; font-family: "Roboto", sans-serif; font-size: var(--default-FZ); line-height: var(--default-LH); color: var(--black);}

.hidden {position: absolute; clip-path: inset(0 0 99.9% 99.9%); overflow: hidden; height: 1px; width: 1px; padding: 0; border: 0;}
.grid {display: grid; grid-template-columns: 1fr 1fr; grid-template-rows: auto;}
.d_flex {display: flex;}
.jcsb {justify-content: space-between;}
.aic {align-items: center;}
hr {border: none; border-top: 1px solid var(--black); margin: 0;}
.sticky {position: sticky; top: 5vh;}
.big_pd {padding: 80px;}
.column_left {border-right: 1px solid var(--black);}
.column_right .content {display: flex; flex-direction: column; gap: 24px; margin-bottom: 64px;}
header, main > section {border-bottom: 1px solid var(--black);}

/* Typography */
.h1, .h2, .h3, .h4, .h5, .h6 {line-height: 1.2;}
.h1 {font-size: calc(var(--default-FZ) * 4.1875); font-weight: 600;}
.h2 {font-size: calc(var(--default-FZ) * 3.125); font-weight: 600;}
.h3 {font-size: calc(var(--default-FZ) * 2.375); font-weight: 500;} 
.h4 {font-size: calc(var(--default-FZ) * 1.75);}
.h5 {font-size: calc(var(--default-FZ) * 1.315);}
.h6 {font-size: calc(var(--default-FZ) * 0.875); text-transform: uppercase;} /* 14 */
.subtitle {font-size: calc(var(--default-FZ) * 1.125); line-height: 1.4;}

.button, .link {font-size: var(--default-FZ); line-height: var(--small-LH);}
.button {letter-spacing: 3%;}
.link {height: 56px; display: inline-flex; align-items: center; padding: 0 24px; border: 1px solid var(--black); font-weight: 600; letter-spacing: 0.4px; text-transform: uppercase;}
.overline, .caption, .caption_bold {font-size: calc(var(--default-FZ) * 0.875); line-height: var(--small-LH);}
.caption_small {font-size: calc(var(--default-FZ) * 0.875); line-height: var(--small-LH);}

/* Colors */
.dark-gray {color: var(--dark--gray);}
.light-gray {color: var(--light-gray);}
.extra-light {color: var(--extra--light);}
.error {color: var(--error);}
.succeess {color: var(--succeess);}

/* Link Buttons */
.button {display: flex; justify-content: center; align-items: center; height: 56px; padding: 0 24px; gap: 8px; border: 1px solid var(--black); font-size: 16px; text-transform: uppercase;}
.effect_3d .parent {position: relative; overflow: hidden;}
.effect_3d .parent > span {display: block; transform: translateY(0); transition: 0.3s;}
.effect_3d:hover .parent > span {transform: translateY(-100%);}
.effect_3d .parent .abs {position: absolute; top: 100%; left: 0;}

/* form */
.input {border: 1px solid var(--light-gray); background: var(--white); color: var(--black); font-size: calc(var(--default-FZ) * 0.875); font-style: normal; font-weight: 500; padding: 16px; display: inline-flex; align-items: center; height: 56px;}
.input::placeholder {color: var(--gray);}
.submit {width: 100%; height: 56px; padding: 16px; background: var(--black); color: var(--white); display: flex; justify-content: center; align-items: center;  font-size: var(--default-FZ); text-transform: uppercase; letter-spacing: 0.03em; border: none;}

/* header */
header nav li {width: 12.4vw; height: 86px; border-right: 1px solid var(--black);}
header nav li a {display: flex; justify-content: center; align-items: center; text-transform: uppercase; height: 100%;}
.nav_right li:first-child {border-left: 1px solid var(--black);}
.nav_right li:last-child {border-right: none;}

header .mobile {display: none;}

/* footer */
footer {display: grid; grid-template-columns: 1fr 1fr 1fr 1fr;}
footer div {border-right: 1px solid var(--black); padding: 40px; display: flex; flex-direction: column; gap: 24px;}
footer div:last-child {border-right: none;}
footer .h5 {color: var(--gray); text-transform: capitalize;}

footer .remind input {width: 100%; margin-bottom: 16px;}
footer .contact_us dt {font-size: 14px; font-size: calc(var(--default-FZ) * 0.875); color: var(--gray); margin-top: 24px;}
footer .contact_us dt:first-child {margin-top: 0;}
footer .contact_us dd {font-weight: 500; line-height: var(--small-LH); letter-spacing: 0.4px;}
footer .contact_us ul {gap: 32px;}
footer .shop li, footer .about_us li {font-weight: 500; line-height: var(--small-LH); letter-spacing: 0.4px; margin-top: 8px;}
footer .shop li:first-child, footer .about_us li:first-child {margin-top: 0;}

/* mobile_nav */
#mobile_nav {flex: 1; position: fixed; top: 0; left: -50vw; bottom: 0; z-index: 100; width: 50vw; display: flex; flex-direction: column; border-right: 1px solid var(--black); background: var(--white); transition: left 0.3s ease-in-out;}
#mobile_nav header {height: 56px; display: flex; align-items: center; justify-content: start;}
#mobile_nav header button {cursor: pointer;}
#mobile_nav nav ul li {height: 78px; display: flex; align-items: center; padding: 0 24px; font-size: 21px; font-weight: 500; border-bottom: 1px solid var(--black);}
#mobile_nav nav ol {padding: 24px; display: flex; flex-direction: column; gap: 16px; font-weight: 500; line-height: var(--small-LH); letter-spacing: 0.4px;}
#mobile_nav .sns {height: 72px; padding: 24px; justify-content: space-between; border-top: 1px solid var(--black);}

/* shopping_cart */
#shopping_cart {position: fixed; top: 0; right: -50vw; bottom: 0; width: 50vw; display: flex; flex-direction: column; background: var(--white); z-index: 100; border-left: 1px solid var(--black); transition: right 0.3s ease-in-out;}
#shopping_cart header {height: 83px; padding: 0 40px;}
#shopping_cart header h2 {font-weight: 500;}
#shopping_cart header .close {cursor: pointer;}
#shopping_cart form {flex: 1; display: flex; flex-direction: column;}
#shopping_cart form ul {padding: 40px;}
#shopping_cart form ul li {display: flex; align-items: center; gap: 16px;}
#shopping_cart form ul li img {width: 160px; border: 1px solid var(--black);}
#shopping_cart form ul li .cart_info {flex: 1; display: flex; flex-direction: column; gap: 8px;}
#shopping_cart form ul li .cart_info h3,
#shopping_cart form ul li .cart_info p {font-size: 18px; font-weight: 500;}
#shopping_cart form ul li .cart_info button {font-weight: 500; line-height: var(--small-LH); letter-spacing: 0.4px; color: var(--gray);}
#shopping_cart form .subtotal {display: flex; justify-content: space-between; align-items: center; padding: 40px; font-weight: 500; border-top: 1px solid var(--black); border-bottom: 1px solid var(--black);}
#shopping_cart form .subtotal h3 {font-size: 18px;}
#shopping_cart form .subtotal h4 {font-size: 21px;}
#shopping_cart form .message {padding: 40px; color: var(--gray); border-bottom: 1px solid var(--black);}
#shopping_cart form .shipping_info {flex: 1; padding: 40px; text-align: center;}
.container {container-type: inline-size;}
@container (max-width: 800px) {
  .container header {background: #000; color: #fff;}
  .container header svg path {fill: #FFFFFF; stroke: #FFFFFF;}
} 

/* button active */
body.menu_active,
body.cart_active {overflow: hidden;}
body.menu_active::after,
body.cart_active::after {content: ''; position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: rgba(210, 210, 215, 0.35); backdrop-filter: blur(3px);}
.menu_active #mobile_nav {left: 0vw;}
body.cart_active #shopping_cart {right: 0;}