@charset "utf-8";

@media screen and (min-width: 768px) and (max-width: 1260px){
  .hero .h1 {font-size: 4.5vw;}
  header nav li {width: 12vw;}
  .h2 {font-size: 4vw;}
  .contact .grid .content {padding: 0 16px;}
}
@media screen and (min-width: 950px) and (max-width: 950px){
  .big_pd {padding: 60px;}
}
@media screen and (max-width: 768px) {
  main > .grid {grid-template-columns: 1fr;}
  
  header .pc {display: none;}
  header .mobile {display: flex; justify-content: space-between;}
  header .mobile button {width: 56px; height: 56px; display: flex; justify-content: center; align-items: center; cursor: pointer;}
  .mobile_menu_toggle {border-right: 1px solid var(--black);}
  .mobile_cart {border-left: 1px solid var(--black);}
  #shopping_cart {width: 100vw; right: -100vw;}
  .column_left {border-right: none; border-bottom: 1px solid var(--black);}
  .contact .grid .content {min-height: 306px;}
  .contact .column_right {order: -1; border-bottom: 1px solid var(--black);}

  .service_subscribe .grid {grid-template-columns: 1fr;}
  .service_subscribe img,
  .service_event_deco {height: 500px;}
  
  .review_slide .button {display: none;}
  .review blockquote p {font-size: 21px;}
  .review_slide {height: 181px;}

  footer {grid-template-columns: 1fr 1fr;}
  footer .remind,
  footer .contact_us {border-bottom: 1px solid var(--black);}
  footer .contact_us {border-right: none;}
}
@media screen and (max-width: 480px) {
  .big_pd {padding: 40px 16px;}
  .h1 {font-size: 40px;}
  .h3 {font-size: 26px;}
  .contact .column_left {border-bottom: none;}
  .contact .grid,
  footer {grid-template-columns: 1fr;}
  .contact .column_right .grid > * {padding: 0 16px; justify-content: start;}
  .contact .column_right ul {padding: 0 16px; border-left: none; height: 48px;}
  .contact .h2,
  .service_subscribe .h2,
  .review .h2 {font-size: 34px; justify-content: start; border-bottom: none;}
  .contact .h3 {justify-content: start; padding: 0 16px;}
  .contact .phone .h3 {border-right: none;}
  .contact .grid .content {min-height: auto; align-items: start; padding: 40px 16px; border-bottom: 1px solid var(--black); border-right: none;}
  .contact .phone .content {border-bottom: 1px solid var(--black);}
  .contact .address .content {border-bottom: none;}

  footer div:nth-child(odd) {border-right: none;}
  footer .shop {border-bottom: 1px solid var(--black);}

  #mobile_nav {width: 100vw; left: -100vw;}
}